* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 250px;
  background-color: whitesmoke;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  border: none;
}

.month {
  background-color: brown;
  height: 60px;
  font-size: 2rem;
  font-weight: bolder;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.weekday {
  margin-bottom: 10px;
}

.day {
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.year {
  margin-bottom: 10px;
}
